*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    background-color: red;
    display: block;
    margin: 20px;
    color: white;
    border: 0;
    padding: 6px 10px;
}
button:hover{
    background-color: rgb(167, 3, 3);
}

.main-popup{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    .popup{
        text-align: center;
        width: 100%;
        max-width: 350px;
        margin:auto;
        margin-top: 300px;
        padding: 30px;
        background: white;
        position: relative;

        a{
            background-color: red;
            color: white;
            padding: 7px 11px;
            text-decoration: none;
        }

        .popup-close{
            position: absolute;
            cursor: pointer;
            top: 4px;
            right: 7px;
        }
    }
}
